<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{% include head.html %}

<style type="text/css">
  .post-content figure img {
    margin-bottom: 0 !important;
  }
  figure figcaption {
    text-align: center;
    font-style: italic;
    font-size: 16px;
    color: #787878;
  }
</style>

<body>

  {% include analytics.html %}

  <div class="off-canvas-container">
    {% include header.html %}

    {{ content }}

    {% include footer.html %}
  </div>

  <script src="{{ '/js/jquery-2.1.4.min.js' | prepend: site.baseurl }}"></script>
  <script src="{{ '/js/evil-icons.min.js' | prepend: site.baseurl }}"></script>
  <script src="{{ '/js/jquery.fitvids.js' | prepend: site.baseurl }}"></script>
  <script src="{{ '/js/script.js' | prepend: site.baseurl }}"></script>
</body>

</html>
